*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'uber', sans-serif; 
}
:root{
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --bg-color: #603939;
    --hov-color: #ff0000;
    --text-color: #000000;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: var(--secondary-color);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.logo img{
    width: 100px;
    height: auto;
}
.logo img:hover{
    transform: scale(1.3);
    transition: all .5s;
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.8rem;
    padding: 5px 15px;
    transform: all .42s;
}
.navbar a:hover{
    color: var(--hov-color);
}
.nav-right{
    display: flex;
    align-items: center;
}
.nav-icon i{
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
    margin-left: 20px;
}
.nav-icon i:hover{
    color: var(--hov-color);
}
#menu-icon{
    display: none;
    color: var(--primary-color);
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 10001;
}


/* home section started */
section{
    padding: 100px 13% 80px;
}
.home{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}
.home-text h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--hov-color);
    letter-spacing: 2px;
    margin-top: 90px;
}
.home-text h3{
    font-size: 1.8rem;
    color: var(--secondary-color);
    margin-bottom: 18px;
    line-height: 1.3;
}
.home-text p{
    max-width: 550px;
    font-size: 1.2rem;
    color: var(--secondary-color);
    margin-bottom: 20px;
    line-height: 1.3;
    font-weight: 500;
}
.home-btn{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.home-btn a{
    display: inline-block;
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding: 12px 10px;
    color: var(--secondary-color);
    background-color: var(--hov-color);
}
/* home section ended   */